.container {
    width: 100%;
    height: 100%;
    text-align: center;
}
    
.search-input {
    height: 24px;
    width: 200px;
    font-size: 16px;
}
#gifs-container {
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.image-container {
    padding: 20px;
    max-width: 300px;
    max-height: 300px;
}

.image {
    max-width: 300px;
    max-height: 300px;
}