.cart {
    background-color: #313131;
    color: white;
    width: min(60%, 500px);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    text-align: center;
}

.item {
    background-color: #575757;
    color: white;
    width: 80%;
    border-radius: 1rem;
    margin: 0 auto 1rem auto;

}

.item .row {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.item .row2 {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-top: 0;
    gap: 1rem
}

.row2 button {
    padding: 2px 10px;
    font-size: 20px;
    /* margin: 0 1rem; */
}