* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.header {
    background-color: red;
    height: 200px;
    width: 100%;
}

.content {
    background-color: black;
    height: auto;
    flex: 1;
    width: 100%;
}

/* .footer {
    background-color: green;
    height: 100px;
    width: 100%;
} */
