.book {
    background-color: white;
    color: black;
    width: min(60%, 500px);
    padding: 0.5rem 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
}

.first-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding-top: 1rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
}

.price {
    background-color: black;
    border-radius: 0.5rem;
    padding: 2px 5px;
    color: white;
    font-weight: 500;
}

.subtitle {
    text-align: left;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}
.btn {
    text-align: right;
    margin-right: 0;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid greenyellow;
    padding: 5px;
    border-radius: 0.5rem;
}